<%#
  ToronHot Dog
  View Templates - Search Results Pane

  This pane is when the server does find any hot dog stands upon searching
  with the user's criteria.

  VERSION 1.0
  Start Date: March 7, 2018
  End Date: April 10, 2018

  File Name: searchResults.html.erb

  Original Source Code © 2018 Gregory Desrosiers. All rights reserved.

%>

<div>Click on one of the markers shown below to show info on the stand.</div>
<span id="goBackSearchEnginePaneLink">Back to Search</span>

<div id="map" style="height: 500px; width: 100%; background-color: grey;"></div>
<div>
  <div>Travel mode:</div>
  <div class="form-check form-row row justify-content-center">
    <div class="form-group row col-11 justify-content-center">
      <div class="col-5 col-md-3 col-lg-2">
        <%= radio_button_tag(:travelModeSelection, 'drivingTravelMode', :checked, class: 'form-check-input',
          'data-toggle': 'tooltip', title:'Drive through Toronto\'s streets in your car. Recommended for long trips.') %>
        <%= label_tag 'travelModeSelection_drivingTravelMode', 'Driving', class: 'form-check-label'  %>
      </div>
      <div class="col-5 col-md-3 col-lg-2">
        <%= radio_button_tag(:travelModeSelection, 'publicTransitTravelMode', false, class: 'form-check-input',
          'data-toggle': 'tooltip', title: 'Use the TTC streetcars, subway system, or buses to get to your destination. Recommended for long trips.') %>
        <%= label_tag 'travelModeSelection_publicTransitTravelMode', 'Public Transit', class: 'form-check-label'  %>
      </div>
      <div class="col-5 col-md-3 col-lg-2">
        <%= radio_button_tag(:travelModeSelection, 'bicyclingTravelMode', false, class: 'form-check-input',
          'data-toggle': 'tooltip', title: 'Bicycle your way there while simultaneously doing some exercise. Enjoy the scenery!') %>
        <%= label_tag 'travelModeSelection_bicyclingTravelMode', 'Bicycling', class: 'form-check-label'  %>
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1">
        <%= radio_button_tag(:travelModeSelection, 'walkingTravelMode', false, class: 'form-check-input',
          'data-toggle': 'tooltip', title: 'Walking is recommended for short-length trips, particularly for stands not far away.') %>
        <%= label_tag 'travelModeSelection_walkingTravelMode', 'Walking', class: 'form-check-label'  %>
      </div>
    </div>
  </div>

  <div class="form-check form-row row justify-content-center">
    <div class="form-group row col-11 justify-content-center">
      <div class="col-4 col-md-3 col-lg-2">Distance unit:</div>
      <div class="col-2 col-lg-1">
        <%= radio_button_tag(:travelDistanceUnit, 'metric', :checked, class: 'form-check-input',
          'data-toggle': 'tooltip', title:'Kilometers, meters, and centimeters.') %>
        <%= label_tag 'travelDistanceUnit_metric', 'Metric', class: 'form-check-label'  %>
      </div>
      <div class="col-5 col-sm-4 col-md-3 col-lg-2">
        <%= radio_button_tag(:travelDistanceUnit, 'imperial', false, class: 'form-check-input',
          'data-toggle': 'tooltip', title:'Miles, yards, feet, and inches.') %>
        <%= label_tag 'travelDistanceUnit_imperial', 'US / UK Imperial', class: 'form-check-label'  %>
      </div>
    </div>
  </div>

</div>
<div id="directionsPanel" class="border border-dark">Select a stand, then click on "Get directions" to get navigation directions. Powered by Google.</div>
